*{
  margin: 0;
  font-family: monospace;
  letter-spacing: 1px;
  transition: .3s ease-in-out;
  font-size: 16px;
  color: #ffffff;
  margin-top: 5px;
}

body{
  margin-top: 10px;
  margin-left: 20px;
  background: #3b0000;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
  color:#dedede;
  padding: 5px;
  background:#6e0000;
  margin:5px;
  border: 1px solid #d6d6d6;
  outline: none;
  border-radius: 5px;
  
}


#phase{
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 25px;
  border: 1px solid #d6d6d6;
  text-align: center;
}

b{
  text-decoration-line: underline;
}

input{
  color:black
}
